.about-container{
    margin: 3rem 15rem
}
.about-title{
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    margin: 2rem;
}
.about-des{
    font-size: 1.1rem;
}
.about-heading{
    font-size: 1.5rem;
    font-weight: 500;
    margin: 1.5rem 0rem;
}
Span{
    color: rgb(0, 191, 255);
}