.featured-card-container {
    border-radius: 1rem;
    margin: 1rem 1rem;
    border: 1px solid gray;
    width: 8rem;
    background-color: #fff;
}
.product-img {
    width: 3rem;
    height: 4rem;
    margin: 1rem 0rem 1rem 1.5rem;
    border-radius: 1rem;
}
.product-img-1 {
    width: 5rem;
    height: 5rem;
    margin: 1rem 0rem 1rem 1.5rem;
    border-radius: 1rem;
}
.card-title-1 {
  font-size: 0.5rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
  font-weight: 500;
  color: black;
  margin-bottom: 0rem;
}
.card-price-1 {
  font-size: 0.5rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
  font-weight: 500;
  color: black;
}
.card-flex {
  display: flex;
}
.featured-title {
  font-size: 1rem;
  font-weight: 500;
  margin: 0.5rem;
}
.flex {
  display: grid;
  grid-template-columns: repeat(2,1fr);
}
.wrapper {
  width: 1rem;
  height: 1rem;
}
